
@media(min-width: 576px)
{
    h3{
        color: red;
        text-transform: uppercase;
        text-decoration-line: underline;
    }
}

@media(min-width: 768px)
{
    .header{
        background-color:rgba(14, 159, 216, 0.966) ;
    }
    h3{
        color: #fff5e7;
        text-align: center;
    }
}